Hover:
  ShowAKA: Yes
  MacroContentsLimit: 2048
CompileFlags:
  Add:
    [
      -ferror-limit=0
    ]
  Remove:
    [
      -fno-reorder-functions,
      -mlongcalls,
      -fstrict-volatile-bitfields,
      -fno-tree-switch-conversion
    ]
Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    [
    ]
